* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

nav, #footer {
	background-color: #2554a0;
	color: white;
}

.wlogo{
	height: auto;
	width: 35px;
	padding: 0;
}

.brandname{
font-size: 1rem;
}

@media screen and (min-width: 575px) { 

.wlogo { display: none; }  

}

@media screen and (max-width: 575px) { 

.brandname { display: none; }  
}

a:link, a:visited, a:hover {
  color: white;
}

.brandname:hover {
	color: #44CFCB;
}

.navbar-nav .nav-link:hover {
	color: #44CFCB;
}

.navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3e%3cpath stroke='%23EACDC2' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

#landing {
	background-color: #c1d8f0;
	color: black;
}

.landinggroup {
	height:100vh;
}

div img {
	height:auto ;
	width:50%
}

.projectimages img {
	width: 100%;
	height: 75%;
	border: 2px solid black;
}

.projectheading, section h1 {
	font-size: 3rem;
	font-weight: 700;
}

section h2 {
	font-size: 2rem;
	font-weight: 400;
}

#tools {
	background-color: #2554a0;
	color: white;
}

.imagecontainer img {
	width: 100px;
	height: 50px;
}

@media screen and (min-width:900px) {
.image-title {
    display: none;
}
}

#contact h1 {
	font-size: 2rem;
}

#contact h3 {
	font-size: 1.8rem;
	font-weight: 600;
}

#landing h1 {
	font-weight: 700;
}

.profilename{
	color: #377DEE;
}



